body {
  margin: 0px;
  background-color: #2d2d2d;
  font-family: sans-serif;
}

/* -------- Auth ------------------*/
#f5AuthDiv {
  margin: 10px;
  top: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  display: inline;
}
#f5AuthImg {
  max-width: 342px;
  border-radius: 100% 0% 0% 0%;
}
#f5AuthDiv pre {
  margin: 5px;
  display: inline;
  font-family: sans-serif;
  position: absolute;
}
#f5UsernameField {
  border-style: none;
}
#f5PasswordField {
  border-style: none;
}
#f5SubmitCredsButton {
  border-style: none;
    background-color: #6b6b6b;
    color: white;
}
.authTextNeutral {
  color: white;
}
.authTextGood {
  color: rgb(173, 255, 173);
}
.authTextBad {
  color: rgb(255, 132, 132);
}


/* -------- F5 Selection Div ------------*/
#f5SelectionDiv {
  width: fit-content;
  min-height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-flex;
  max-height: 150px;
  overflow: auto;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}
#f5SelectionDiv ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background-color: #424242;
}
#f5SelectionDiv li {
  cursor: pointer;
  background-color: #424242;
  color: white;
}
#f5SelectionDiv .selected {
  background-color: rgb(92, 173, 239);
  color: white;
}
#f5SelectionDiv span {
  display: inline-block;
  padding: 0px 10px;
}
.failoverActive {
  color: rgb(173, 255, 173);
}
.failoverStandby {
  color: rgb(255, 132, 132);
}

/* -------- Pool Selection Div ------------*/

#f5PoolSelectionDiv {
  width: fit-content;
  min-height: 100px;
  display: inline-flex;
  max-height: 150px;
  max-width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  background-color: #424242;
}
#f5PoolSelectionDiv ul {
  margin: 0px;
  list-style-type: none;
  background-color: #424242;
  padding: 0px;
}
#f5PoolSelectionDiv li {
  padding: 0px 20px 0px 10px;
  cursor: pointer;
  background-color: #424242;
  color: white;
}
#f5PoolSelectionDiv .selected {
  background-color: rgb(92, 173, 239);
  color: white;
}

/* ---------- Auto Refresh ---------- */
#autoRefreshDiv {
  display: inline-flex;
}
#autoRefreshDiv p {
  margin: 0px;
  padding-left: 3px;
  color: white;
}

/* ---------- Pool Stats ---------- */
#poolStatsDiv {
  margin-left: 30px;
  display: inline-flex;
}
#poolStatsDiv ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  color: white;
}
#poolStatsDiv p {
  margin: 0px;
  padding: 0px;
}
#poolStatAvailabilityDot {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
}
.poolStatsNeutral {
  background-color: rgb(209, 209, 209);
}
.poolStatsGood {
  background-color: rgb(173, 255, 173);
}
.poolStatsBad {
  background-color: rgb(255, 132, 132);
}

/* ---------- table stuff ---------- */
#f5PoolMembersDiv {
  font-family: monospace;
}
.table {
  display: table;
  margin-top: 10px;
  margin-left: 10px;
  width: max-content;
}
.heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
  color: #2d2d2d;
  cursor: default;
}
.row {
  display: table-row;
}
.row:nth-child(odd) {
  background-color: rgb(59, 59, 59);
}
.row:nth-child(even) {
  background-color: rgb(70, 70, 70);
}
.row:hover {
  background-color: #5cadef !important;
  transition: 0.2s;
}
.row:hover .cell {
  color: white;
  font-weight: 700;
  transition: 0.2s;
}


.cell {
  display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: hidden;
}


.dns {
  color: #cfcfff;
}
.member {
  color: white;
}
.node {
  color: #c9ffd0;
}


/* state button highlighting */
.stateButton  {
  cursor: pointer;
  background-color: #717171;
  color: white;
  border-style: solid;
  border-color: #717171;
}
.stateButton.clicked {
  background-color: rgb(92, 173, 239);
}
.stateButton.enable.curState {
  border-style: solid;
  border-color: rgb(173, 255, 173);
  background-color: rgb(173, 255, 173);
  color: black;
}
.stateButton.disable.curState {
  border-style: solid;
  border-color: rgb(248, 240, 169);
  background-color: rgb(248, 240, 169);
  color: black;
}
.stateButton.force.curState {
  border-style: solid;
  border-color: rgb(255, 132, 132);
  background-color: rgb(255, 132, 132);
  color: black;
}

/* ---------- column context menu -------------*/
.context-menu{
  display: none;
  position: absolute;
  width: 200px;
  background: #717171;
  font-size: small;
  font-family: sans-serif;
}

.context-menu ul{
  list-style: none;
  padding: 2px;
  margin: 0px;
 }
 
 .context-menu ul li{
  padding: 5px 2px;
  color: white;
  background-color: #2d2d2d;
 }
 
 .context-menu ul li:hover{
  cursor: pointer;
  background-color: #5cadef;
 }
 .shrunkColumn {
  max-width: 15px;
  background-color: #717171;
  margin: 0px;
  padding: 0px;
  border-left: solid thin #9c9c9c;
  border-right: solid thin #9c9c9c;
  white-space: nowrap;
 }

/* --------- PoolProfileManager ---------- */
#profileManagerDiv {
  display: inline-flex;
  max-height: 150px;
  padding-left: 40px;
  border-color: gray;
}
#profileManagerLeft {
  background-color: #424242;
  border: solid thin gray;
}
#profileManagerLeft input {
  background-color: #2d2d2d;
  border: none;
  color: white;
  font-size: medium;
}
#profileManagerLeft ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-color: #424242;
  color: white;
  max-height: 75px;
  overflow-y: auto;
  overflow-x: hidden;
}
#profileManagerLeft li {
  padding: 0px;
  cursor: pointer;
  background-color: #424242;
  color: white;
}
#profileManagerLeft .selected {
  background-color: rgb(92, 173, 239);
  color: white;
}
#profileManagerRight {
  display: grid;
  padding-left: 0px;
  height: fit-content;
  /* border: solid thin gray; */
}
#profileManagerRight button {
  width: 60px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  background-color: #2d2d2d;
  color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 0px;
  border-color: gray;
  border-left: none;
}
#profileManagerRight button:hover {
  background-color: rgb(92, 173, 239);
}
#profileManagerMessage {
  padding-left: 2px;
  margin: 0px;
  color: white;
}
#profileManager .selected {
  background-color: rgb(92, 173, 239);
  color: white;
}
.loadOnRow {
  background-color: #c1c18d !important;
}

/* --------- Windows Columns ---------- */
.windows {
  color: rgb(248, 240, 169)
}
.serverPingDot {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
}
.serverPingNeutral {
  background-color: rgb(209, 209, 209);
}
.serverPingGood {
  background-color: rgb(173, 255, 173);
}
.serverPingBad {
  background-color: rgb(255, 132, 132);
}
.windows button {
  margin: 0px;
  padding: 0px 5px;
  cursor: pointer;
  background-color: #424242;
  color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: gray;
}
.windows button:hover {
  background-color: rgb(92, 173, 239);
}
.taskDiv a {
  color: rgb(248, 240, 169)
}




/* --------- Slider Stuff ----------- */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #5cadef;
}
input:focus + .slider {
  box-shadow: 0 0 1px #5cadef;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.slider.round {
  border-radius: 17px;
}
.slider.round:before {
  border-radius: 50%;
}

/* Chrome Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
